:root {
  --typography-spacing-vertical: 0;
  --primary: hsl(195, 85%, 41%);
  --bg-color: #11191f;
  color-scheme: dark;
  --spacing:0;
  --form-element-spacing-vertical:0;
  --bs-code-color: var(--code-color);
}

body {
  background-color: var(--bg-color);
  position: absolute;
}

/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300; 400; 500; 600; 700&family=Noto+Serif+SC:wght@300; 400; 500; 600; 700&display=swap'); */

html,
body,
div.post-body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
li {
  font-family: "LXGW WenKai LITE", sans-serif, "Linux Biolinum", "Noto Serif SC", serif;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 100%
}

code,
pre,
samp {
  font-family: "Noto Sans Mono", Monaco, Menlo, "Noto Serif SC", monospace;
  border: none;
}

/*小小的也很可爱♥️*/
code {
  display: inline;
  padding: 0.1rem 0.25rem;
}

pre>code {
  padding: 0
}

button.hljs-copy-button {
  font-size: small;
}

blockquote {
  background-color: #18232c;
  border-left: 5px solid var(--primary);
  padding: 0.75rem;
}

/*text-autospace.js css*/
html.han-la hanla:after {
  content: " ";
  display: inline;
  font-family: Arial;
  font-size: 0.89em;
}

html.han-la code hanla,
html.han-la pre hanla,
html.han-la kbd hanla,
html.han-la samp hanla {
  display: none;
}

html.han-la ol>hanla,
html.han-la ul>hanla {
  display: none;
}

/*mermaid*/
pre.mermaid {
  background-color: #11191f;
}

nav#base-nav {
  background: transparent;
  backdrop-filter: blur(32px);
  z-index: 999;
}

main#main-v{
  left: 20%;
  right: 20%;
  max-width: 910px;
}

:where(audio, canvas, iframe, img, svg, video) {
  vertical-align: middle;
}

img {
  max-width: 100%;
  height: auto;
  border-style: none;
}