html,
body,
div.post-body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
li {
  font-family: "LXGW WenKai LITE", sans-serif, "Linux Biolinum", "Noto Serif SC", serif;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

code,
pre,
samp {
  font-family: "Noto Sans Mono", Monaco, Menlo, "Noto Serif SC", monospace;
}
pre > code {
  padding: 0;
}
.mermaid {
  background: none;
  border: none;
}

/*switcher*/
.switcher {
    position: fixed;
    right: calc(var(--spacing)/ 2 + var(--scrollbar-width,0px));
    bottom: var(--spacing);
    width: auto;
    margin-bottom: 0;
    padding: 0.75rem;
    border-radius: 2rem;
    box-shadow: var(--card-box-shadow);
    line-height: 1;
    text-align: right;
}

html.han-la hanla:after {
	content: " ";
	display: inline;
	font-family: Arial;
	font-size: 0.89em;
}

html.han-la table>* hanla,
html.han-la code hanla,
html.han-la pre hanla,
html.han-la kbd hanla,
html.han-la samp hanla {
	display: none;
}

html.han-la ol > hanla,
html.han-la ul > hanla {
	display: none;
}

/*markdown - [x] */
li:has(input),
ul:has(input){
  list-style: "";
}