.tag {
    display: inline-block;
    padding: 5px 10px;
    background-color: #007bff;
    /* 背景颜色 */
    color: #ffffff;
    /* 文字颜色 */
    border-radius: 15px;
    /* 圆角 */
    font-size: 14px;
    /* 字体大小 */
    font-family: Arial, sans-serif;
    /* 字体 */
    text-align: center;
    /* 文字居中 */
    margin: 5px;
    /* 外边距 */
}

/* 定义 <key> 元素的基本样式 */
key {
    display: inline-block;
    padding: 8px 12px;
    margin: 4px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    color: #333;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;
}

/* 鼠标悬停时的样式 */
key:hover {
    background-color: #e0e0e0;
    transform: translateY(-2px);
}

/* 点击时的样式 */
key:active {
    background-color: #d0d0d0;
    transform: translateY(1px);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* 定义 <blockquote> 元素的基本样式 */
blockquote {
    position: relative;
    padding: 20px 30px;
    margin: 20px 0;
    background-color: #f9f9f9;
    border-left: 5px solid #6c757d;
    font-style: italic;
    color: #333;
    line-height: 1.6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* 添加引号
blockquote::before {
    content: '“';
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 40px;
    color: #6c757d;
}

blockquote::after {
    content: '”';
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 40px;
    color: #6c757d;
} */

/* 引用块的作者 */
blockquote footer {
    margin-top: 15px;
    text-align: right;
    font-size: 14px;
    color: #6c757d;
}

/* 引用块的作者名字 */
blockquote footer cite {
    font-style: normal;
    font-weight: bold;
}

.toc-float.collapsed {
    max-height: 1rem;
    /* 收起时的高度 */
    max-width: 1rem;
    /* 收起时的宽度 */
    /*隐藏滚动条*/
    overflow: hidden;
    /*改变鼠标指针样式*/
    cursor: pointer;
}

/* Note 提示 */
.markdown-alert-note {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #c3e6cb;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.5;
    background-color: #e9f7ef;
    color: #155724;
    position: relative;
}

/* Tip 提示 */
.markdown-alert-tip {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #b8daff;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.5;
    background-color: #e2f0fd;
    color: #004085;
    position: relative;
}

/* Important 提示 */
.markdown-alert-important {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ffeeba;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.5;
    background-color: #fff3cd;
    color: #856404;
    position: relative;
}

/* Warning 提示 */
.markdown-alert-warning {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.5;
    background-color: #f8d7da;
    color: #721c24;
    position: relative;
}

/* Caution 提示 */
.markdown-alert-caution {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #e0cffc;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.5;
    background-color: #f3e8ff;
    color: #6f42c1;
    position: relative;
}

/* 内容样式 */
.markdown-alert-note p,
.markdown-alert-tip p,
.markdown-alert-important p,
.markdown-alert-warning p,
.markdown-alert-caution p {
    display: inline-block;
    vertical-align: middle;
}

/* 图标样式（可选） */
.markdown-alert-note::before,
.markdown-alert-tip::before,
.markdown-alert-important::before,
.markdown-alert-warning::before,
.markdown-alert-caution::before {
    font-family: "FontAwesome";
    margin-right: 10px;
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
    top: 15px;
    left: 15px;
}

.markdown-alert-note::before {
    content: "\f05a";
    /* 信息图标 */
}

.markdown-alert-tip::before {
    content: "\f0eb";
    /* 灯泡图标 */
}

.markdown-alert-important::before {
    content: "\f06a";
    /* 警告图标 */
}

.markdown-alert-warning::before {
    content: "\f071";
    /* 警告三角图标 */
}

.markdown-alert-caution::before {
    content: "\f0e7";
    /* 闪电图标 */
}

/* 启用连字 */
body {
    font-variant-ligatures: normal;
}

/* 美化 select 标签 */
select {
    appearance: none;
    /* 移除默认样式 */
    background-color: #f0f0f0;
    /* 背景颜色 */
    border: 1px solid #ccc;
    /* 边框 */
    border-radius: 4px;
    /* 圆角 */
    padding: 10px;
    /* 内边距 */
    color: #333;
    /* 字体颜色 */
    cursor: pointer;
    /* 鼠标指针 */
}

/* 美化 option 标签 */
option {
    background-color: #fff;
    /* 背景颜色 */
    color: #333;
    /* 字体颜色 */
    padding: 10px;
    /* 内边距 */
}

/* Colorful HR*/
.hr-twill-colorful {
    border: 0;
    padding: 3px;
    background: linear-gradient(135deg, red, orange, green, blue, purple);
    --mask-image: repeating-linear-gradient(135deg, #000 0px, #000 1px, transparent 1px, transparent 6px);
    -webkit-mask-image: var(--mask-image);
    mask-image: var(--mask-image);
}

.today {
    background-color: #8cdda4;
    /* 高亮今天的日期 */
}

.today:hover {
    background-color: #3e9a59;
    /* 鼠标悬停时的高亮颜色 */
}

/* 默认样式 */
a {
    text-decoration: none;
    /* 去掉下划线 */
    color: #3e9a59;
    /* 设置链接颜色 */
    font-weight: normal;
    /* 默认字体不加粗 */
}

/* 鼠标悬浮时的样式 */
a:hover {
    font-weight: bold;
    /* 鼠标悬浮时字体加粗 */
    background-color: #f9f9f9;
}

ul#toc {
    margin-top: 0;
    /* 减小上外边距 */
    margin-bottom: 0;
    /* 减小下外边距 */
    padding-top: 0;
    /* 减小上内边距 */
    padding-bottom: 0;
    /* 减小下内边距 */
    padding-left: 0;
    /* 减小左内边距 */
}

#toc ul,
#toc li {
    margin-left: 0;
    /* 减小左外边距 */
    list-style-type: none;
    text-indent: -10px;
    /* 减小文本缩进 */
    padding-left: 10px;
    /* 保持内容对齐 */
}

.toc-float {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 200px;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    overflow-y: auto;
    max-height: calc(100vh - 40px);
}

/* 媒体查询，适用于小屏幕，例如手机 */
@media (max-width: 768px) {
    .container {
        max-width: 95%;
        /* 或者你想要的其他值 */
    }

    .nav-right {
        display: none;
        /* 这将完全隐藏元素 */
    }

    .toc-float {
        display: none;
    }
}


details {
    border: 1px solid #ccc !important;
    border-color: #000 !important;
    padding: 14px;
}

pre,
code {
    background: #f3f3f3;
    color: #444;
}

code.hljs {
    padding: 0;
}

pre {
    padding: 1em;
}

.post-li {
    list-style-type: none;
}

.nav-right {
    float: right;
    text-align: right;
}

body {
    font-family: monospace;
    font-size: 16px;
    line-height: 1.4;
    margin: 0;
    min-height: 100%;
    overflow-wrap: break-word;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

img {
    max-width: 90%;
    margin-top: 0px;
    margin-bottom: 2.5rem;
}

/*From gpt*/

/* 容器样式 */
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    background-color: rgba(255, 255, 255, 0.5);
    /* 半透明背景 */
    backdrop-filter: blur(10px);
    /* 毛玻璃效果 */
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    max-width: 60%;
    margin: auto;
}

main.container{
    padding-top: 20px;
}

/* 右对齐的代码块 */
.nav-right {
    color: #fff;
    font-size: 14px;
}

/* 主要内容区域样式 */
main {
    padding: 20px 0;
}

/* 浮动目录样式 */
.toc-float {
    position: fixed;
    top: 100px;
    left: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 250px;
    transition: max-width 0.3s ease;
    /*设置圆角*/
    border-radius: 15px;
}

.toc-float.collapsed {
    overflow: hidden;
}

.toggle-btn {
    cursor: pointer;
    display: block;
    text-align: left;
}

code {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    color: #333;
}


.progress-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #f3f3f3;
    z-index: 1000;
}

.progress-bar {
    height: 100%;
    background-color: #8cdda4;
    width: 0%;
}

nav p {
    display: flex;
    align-items: center;
}

nav p a {
    margin-right: 10px;
    /* 添加间距 */
    padding: 5px 10px;
    /* 添加内边距以增加点击区域 */
    text-decoration: none;
    /* 去掉下划线 */
    color: #3e9a59;
    /* 设置文字颜色 */
    transition: background-color 0.3s ease;
    /* 添加过渡效果 */
}

nav p a:not(:last-child)::after {
    content: '|';
    /* 在每个 <a> 后面添加分隔符 */
    margin-left: 10px;
    /* 分隔符与 <a> 之间的间距 */
    color: #3e9a59;
    /* 设置分隔符颜色 */
}

nav p a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    /* 鼠标悬浮时背景变暗 */
}

nav p span {
    margin-left: auto;
    /* 将 span 推到右侧 */
}